<div class="container">
  <div class="row todolist-container">
    <div class="col-md-6">
      <div class="todolist not-done">
        <h1>Todos</h1>
        <div class="input-group">
          <input  [(ngModel)]="todo" class="form-control" placeholder="todo">
          <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="addAToDo(todoText)">Add a TODO</button>
                    </span>
        </div>
        <!-- /input-group -->
        <button id="checkAll" class="btn btn-success">Mark all as done</button>
        <hr>
        <ul id="sortable" class="list-unstyled">
          <li class="ui-state-default" *ngFor="let todo of todos">
            <div class="checkbox">
              <label>
                <input #todoName type="checkbox" value="" />{{todo.todoName}}</label>
            </div>
          </li>
        </ul>
        <div class="todo-footer">
          <strong><span class="count-todos"></span></strong> Items Left
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="todolist">
        <h1>Already Done</h1>
        <ul id="done-items" class="list-unstyled">
          <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
